name: Backend-Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: backend-deployment

    strategy:
      matrix:
        node-version: [22.x]
        

    steps:
    - uses: actions/checkout@v4 
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm' 

    - run: npm ci 

    - name: Set up environment file
      run: |
        touch .env  # Create an empty .env file if it doesn't exist
        echo "${{secrets.PROD_ENV_FILE_HOSTINGER}}" > .env  # Populate .env with secret value

    - name: Restart PM2 with Backend-Hostinger
      run: pm2 restart backend-deployment
